
Python/Pong Game/rough.py
Python/NATO-alphabet-start/NATO-alphabet-start/nato_phonetic_alphabet.csv
Python/NATO Alphabet Project/.idea/inspectionProfiles/profiles_settings.xml
Python/NATO Alphabet Project/.idea/inspectionProfiles/Project_Default.xml
Python/NATO-alphabet-start.zip
*.xml
Python/NATO Alphabet Project/Dictionary.py
Python/NATO Alphabet Project/file1.txt
Python/NATO Alphabet Project/file2.txt
Python/NATO Alphabet Project/List Comprehension.py
Python/NATO Alphabet Project/.idea/NATO Alphabet Project.iml
Python/NATO-alphabet-start/.idea/NATO-alphabet-start.iml
Python/NATO-alphabet-start/__MACOSX/._NATO-alphabet-start
Python/NATO-alphabet-start/__MACOSX/NATO-alphabet-start/._main.py
Python/NATO-alphabet-start/__MACOSX/NATO-alphabet-start/._nato_phonetic_alphabet.csv
Python/NATO-alphabet-start/NATO-alphabet-start/main.py
Python/Python GUI/main.py
Python/Python GUI/main.py
Python/Python GUI/playground.py
Python/Python GUI/main.py
Python/Python GUI/main.py
